In [20]:
import pandas as pd
import numpy as np
import math

# Câu 1

In [ ]:
# 1) Hiển thị dữ liệu trong DataFrame
df = pd.read_excel('baitap10_data.xlsx')

df.head()

,Code KH,Name,SDT,Phong,Checkin,Checkout,Status,Độ hài lòng
0,KH001,Phan Minh Hoàng,3644265612,A01,25/03/2021,29/03/2021,Đã trả phòng,0.75
1,KH002,Lê Bạch Thủy,4229223212,A05,25/03/2021,28/03/2021,Đã trả phòng,0.80
2,KH003,Thái Trung Sơn,5623158547,C05,26/03/2021,27/03/2021,Đã trả phòng,0.90
3,KH004,Hoàng Bảo Việt,1245633355,B01,27/03/2021,20/05/2021,Chưa trả phòng,NaN
4,KH005,Mai Thị Hảo,5987463223,C03,14/04/2021,19/05/2021,Chưa trả phòng,NaN

In [4]:
# 2) Kiểm tra null và fill bằng 0

if df.isnull().values.any():
    df.fillna(0, inplace=True)
    
df.head()

,Code KH,Name,SDT,Phong,Checkin,Checkout,Status,Độ hài lòng
0,KH001,Phan Minh Hoàng,3644265612,A01,25/03/2021,29/03/2021,Đã trả phòng,0.75
1,KH002,Lê Bạch Thủy,4229223212,A05,25/03/2021,28/03/2021,Đã trả phòng,0.80
2,KH003,Thái Trung Sơn,5623158547,C05,26/03/2021,27/03/2021,Đã trả phòng,0.90
3,KH004,Hoàng Bảo Việt,1245633355,B01,27/03/2021,20/05/2021,Chưa trả phòng,0.00
4,KH005,Mai Thị Hảo,5987463223,C03,14/04/2021,19/05/2021,Chưa trả phòng,0.00

In [6]:
# 3) Hiển thị danh sách khách hàng chưa trả phòng và đã trả phòng

print("\nDanh sách khách hàng chưa trả phòng:")
print(df[df['Status']=='Chưa trả phòng'])


print("\nDanh sách khách hàng đã trả phòng:")
print(df[df['Status']=='Đã trả phòng'])

Danh sách khách hàng chưa trả phòng:
   Code KH             Name         SDT Phong     Checkin    Checkout  \
3    KH004   Hoàng Bảo Việt  1245633355   B01  27/03/2021  20/05/2021
4    KH005      Mai Thị Hảo  5987463223   C03  14/04/2021  19/05/2021
9    KH010    Lò Trung Minh  6825253524   B02  20/04/2021  11/05/2021
10   KH011   Hứa Hùng Cường  5786253534   C01  20/04/2021  10/05/2021
13   KH014      Lưu Văn Trí  8754613132   A03  25/04/2021  15/05/2021
14   KH015   Hoàng Mai Ngọc  2573856343   B04  25/04/2021  14/05/2021
16   KH017      Vũ Đình Thi  5697413658   C05  26/04/2021  17/05/2021
17   KH018    Phan Quốc Huy  9999678989   A05  25/04/2021  17/05/2021
20   KH021      Vì Nhân Bảo  5631265644   A04  01/05/2021  15/05/2021
22   KH023   Trịnh Bảo Trâm  5141512636   A01  03/05/2021  23/05/2021
23   KH024  Nguyễn Sơn Tùng  4621632366   C02  05/05/2021  11/05/2021

            Status  Độ hài lòng
3   Chưa trả phòng          0.0
4   Chưa trả phòng          0.0
9   Chưa trả phòng          0.0
10  Chưa trả phòng          0.0
13  Chưa trả phòng          0.0
14  Chưa trả phòng          0.0
16  Chưa trả phòng          0.0
17  Chưa trả phòng          0.0
20  Chưa trả phòng          0.0
22  Chưa trả phòng          0.0
23  Chưa trả phòng          0.0

Danh sách khách hàng đã trả phòng:
   Code KH              Name         SDT Phong     Checkin    Checkout  \
0    KH001   Phan Minh Hoàng  3644265612   A01  25/03/2021  29/03/2021
1    KH002      Lê Bạch Thủy  4229223212   A05  25/03/2021  28/03/2021
2    KH003    Thái Trung Sơn  5623158547   C05  26/03/2021  27/03/2021
5    KH006     Đinh Văn Linh  4266987423   A04  14/04/2021  15/04/2021
6    KH007   Nguyễn Thế Tuấn  5634672868   A02  17/04/2021  25/04/2021
7    KH008    Phạm Nhật Nghệ  2435252352   B05  20/04/2021  27/04/2021
8    KH009      Thế Văn Bành  6728355352   C02  20/04/2021  29/04/2021
11   KH012     Phan Hoàng Sa  6425353552   B03  24/04/2021  25/04/2021
12   KH013  Nguyễn Trường Sa  6382461331   C04  24/04/2021  26/04/2021
15   KH016     Đào Việt Hùng  5984632214   A01  26/04/2021  30/04/2021
18   KH019     Phan Hoàng Kì  5416565651   B05  30/04/2021  02/05/2021
19   KH020    Trịnh Phú Quốc  5123262565   B03  30/04/2021  05/05/2023
21   KH022    Hứa Kim truyền  6546664644   C04  01/05/2021  06/05/2021

          Status  Độ hài lòng
0   Đã trả phòng         0.75
1   Đã trả phòng         0.80
2   Đã trả phòng         0.90
5   Đã trả phòng         1.00
6   Đã trả phòng         0.65
7   Đã trả phòng         0.90
8   Đã trả phòng         0.85
11  Đã trả phòng         0.10
12  Đã trả phòng         0.80
15  Đã trả phòng         1.00
18  Đã trả phòng         0.80
19  Đã trả phòng         0.70
21  Đã trả phòng         1.00

In [7]:
# 4) Hiển thị danh sách khách hàng có mức độ hài lòng trên 80%
print("\nDanh sách khách hàng có độ hài lòng trên 80%:")
print(df[df['Độ hài lòng'] > 0.8])

Danh sách khách hàng có độ hài lòng trên 80%:
   Code KH            Name         SDT Phong     Checkin    Checkout  \
2    KH003  Thái Trung Sơn  5623158547   C05  26/03/2021  27/03/2021
5    KH006   Đinh Văn Linh  4266987423   A04  14/04/2021  15/04/2021
7    KH008  Phạm Nhật Nghệ  2435252352   B05  20/04/2021  27/04/2021
8    KH009    Thế Văn Bành  6728355352   C02  20/04/2021  29/04/2021
15   KH016   Đào Việt Hùng  5984632214   A01  26/04/2021  30/04/2021
21   KH022  Hứa Kim truyền  6546664644   C04  01/05/2021  06/05/2021

          Status  Độ hài lòng
2   Đã trả phòng         0.90
5   Đã trả phòng         1.00
7   Đã trả phòng         0.90
8   Đã trả phòng         0.85
15  Đã trả phòng         1.00
21  Đã trả phòng         1.00

In [15]:
# 5) Hiển thị danh sách khách hàng đặt phòng từ 1/4 đến 15/5 và chưa trả phòng
df['checkin'] = pd.to_datetime(df['Checkin'])
df['checkout'] = pd.to_datetime(df['Checkout'])

start_date = '2021-04-01'
end_date = '2021-05-15'
print("\nDanh sách khách hàng đặt phòng từ 1/4 đến 15/5 và chưa trả phòng:")
print(df[(df['checkin'] >= start_date) 
         & (df['Checkin'] <= end_date) 
         & (df['Status'] =='Chưa trả phòng')])

Danh sách khách hàng đặt phòng từ 1/4 đến 15/5 và chưa trả phòng:
   Code KH             Name         SDT Phong    Checkin    Checkout  \
4    KH005      Mai Thị Hảo  5987463223   C03 2021-04-14  19/05/2021
9    KH010    Lò Trung Minh  6825253524   B02 2021-04-20  11/05/2021
10   KH011   Hứa Hùng Cường  5786253534   C01 2021-04-20  10/05/2021
13   KH014      Lưu Văn Trí  8754613132   A03 2021-04-25  15/05/2021
14   KH015   Hoàng Mai Ngọc  2573856343   B04 2021-04-25  14/05/2021
16   KH017      Vũ Đình Thi  5697413658   C05 2021-04-26  17/05/2021
17   KH018    Phan Quốc Huy  9999678989   A05 2021-04-25  17/05/2021
20   KH021      Vì Nhân Bảo  5631265644   A04 2021-05-01  15/05/2021
22   KH023   Trịnh Bảo Trâm  5141512636   A01 2021-05-03  23/05/2021
23   KH024  Nguyễn Sơn Tùng  4621632366   C02 2021-05-05  11/05/2021

            Status  Độ hài lòng    checkin   checkout
4   Chưa trả phòng          0.0 2021-04-14 2021-05-19
9   Chưa trả phòng          0.0 2021-04-20 2021-05-11
10  Chưa trả phòng          0.0 2021-04-20 2021-05-10
13  Chưa trả phòng          0.0 2021-04-25 2021-05-15
14  Chưa trả phòng          0.0 2021-04-25 2021-05-14
16  Chưa trả phòng          0.0 2021-04-26 2021-05-17
17  Chưa trả phòng          0.0 2021-04-25 2021-05-17
20  Chưa trả phòng          0.0 2021-05-01 2021-05-15
22  Chưa trả phòng          0.0 2021-05-03 2021-05-23
23  Chưa trả phòng          0.0 2021-05-05 2021-05-11

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_18184\757944554.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['checkout'] = pd.to_datetime(df['Checkout'])

In [ ]:
# 6) Thêm khách hàng mới vào danh sách
new_customer = {
    'Tên': 'Nguyễn Văn A',
    'Tuổi': 28,
    'Giới Tính': 'Nam',
    'Ngày_dat_phong': 10/10/2021,
    'Thanh_toan': 'Chưa trả phòng',
    'Hài_long': 90
}


print(new_customer)

{'Tên': 'Nguyễn Văn A', 'Tuổi': 28, 'Giới Tính': 'Nam', 'Ngày_dat_phong': 0.0004948045522018803, 'Thanh_toan': 'Chưa trả phòng', 'Hài_long': 90}

In [32]:
# 7) Hiển thị danh sách khách hàng theo tên

name =input("Tên khách hàng")
kh = df[df['Name'] == name]
print(kh)

  Code KH         Name         SDT Phong    Checkin    Checkout  \
4   KH005  Mai Thị Hảo  5987463223   C03 2021-04-14  19/05/2021

           Status  Độ hài lòng    checkin   checkout
4  Chưa trả phòng          0.0 2021-04-14 2021-05-19

In [ ]:
 # 8
a = "Chưa trả phòng"
kha = df[df["Status"].str.contains(a)]
pg = df["Phong"]
b = df['Phong'].drop_duplicates()
c = len(pg)-len(kha)-(len(pg)-len(b))
print('Phòng còn trống là',c,'phòng.')

# Cách thức hiển thị phòng còn trống

df['Checkin'] = pd.to_datetime(df['Checkin'])                       
df2 = df.sort_values(by='Checkin').drop_duplicates('Phong')
df2['Checkin'] = df2['Checkin'].dt.strftime('%d/%m/%Y')   
b = df2[['Phong','Checkin','Checkout','Status']].query("Checkin <= '30/04/2021' and Status == 'Đã trả phòng' and Phong != ('A01','A05','C05','A04','C02') ")
print("\nDanh sách những phòng còn trống là:\n",b)

Phòng còn trống là 4 phòng.

Danh sách những phòng còn trống là:
    Phong     Checkin    Checkout        Status
6    A02  17/04/2021  25/04/2021  Đã trả phòng
7    B05  20/04/2021  27/04/2021  Đã trả phòng
12   C04  24/04/2021  26/04/2021  Đã trả phòng
11   B03  24/04/2021  25/04/2021  Đã trả phòng

In [38]:
# 9
print("\nThông tin khách hàng đã trả phòng:\n")
da_tra_phong = df[df['Status'] == 'Đã trả phòng']

for index, row in da_tra_phong.iterrows():
    time_spent = (row['checkout'] - row['checkin']).days  # Tính số ngày ở
    print(f"{row['Name']} đã ở trong: {time_spent} ngày.")

Thông tin khách hàng đã trả phòng:

Phan Minh Hoàng đã ở trong: 4 ngày.
Lê Bạch Thủy đã ở trong: 3 ngày.
Thái Trung Sơn đã ở trong: 1 ngày.
Đinh Văn Linh đã ở trong: 1 ngày.
Nguyễn Thế Tuấn đã ở trong: 8 ngày.
Phạm Nhật Nghệ đã ở trong: 7 ngày.
Thế Văn Bành đã ở trong: 9 ngày.
Phan Hoàng Sa đã ở trong: 1 ngày.
Nguyễn Trường Sa đã ở trong: 2 ngày.
Đào Việt Hùng đã ở trong: 4 ngày.
Phan Hoàng Kì đã ở trong: 2 ngày.
Trịnh Phú Quốc đã ở trong: 735 ngày.
Hứa Kim truyền đã ở trong: 5 ngày.

In [39]:
# 10
# Tính số tiền phải trả
for index, row in da_tra_phong.iterrows():
    if row['Status'] == 'Đã trả phòng':
        # Giả sử bạn có cột cho số ngày đã ở
        nights = (row['checkout'] - row['checkin']).days
        total_cost = nights * 200000  # Tính tổng tiền phải trả
        print(f"{row['Name']} phải trả: {total_cost:,.0f} VNĐ.")

Phan Minh Hoàng phải trả: 800,000 VNĐ.
Lê Bạch Thủy phải trả: 600,000 VNĐ.
Thái Trung Sơn phải trả: 200,000 VNĐ.
Đinh Văn Linh phải trả: 200,000 VNĐ.
Nguyễn Thế Tuấn phải trả: 1,600,000 VNĐ.
Phạm Nhật Nghệ phải trả: 1,400,000 VNĐ.
Thế Văn Bành phải trả: 1,800,000 VNĐ.
Phan Hoàng Sa phải trả: 200,000 VNĐ.
Nguyễn Trường Sa phải trả: 400,000 VNĐ.
Đào Việt Hùng phải trả: 800,000 VNĐ.
Phan Hoàng Kì phải trả: 400,000 VNĐ.
Trịnh Phú Quốc phải trả: 147,000,000 VNĐ.
Hứa Kim truyền phải trả: 1,000,000 VNĐ.