In [1]:
import pandas as pd
import numpy as np
import math

# Câu 1

In [14]:
Data = {"Tên":['Huy','Nhi','Lan','Tuấn'],
       "Tuổi":[20,19,20,21],
       "Giới Tính":['Nam','Nữ','Nữ','Nam']}

df = pd.DataFrame(Data)

# a) in một dòng
print("Dòng 1 của danh sách\n",df.loc[1])

# b) in dòng 2, 3
print("\nDòng 2 và 3 của danh sách\n",df.loc[[2,3]])

# c) in 2 dòng đầu
print("\nHai dòng đầu của danh sách\n",df.head(2))

# d) in dòng 1,2,3
print("\nThông tin 3 dòng đầu là\n",df[1:4])

Dòng 1 của danh sách
 Tên          Nhi
Tuổi          19
Giới Tính     Nữ
Name: 1, dtype: object

Dòng 2 và 3 của danh sách
     Tên  Tuổi Giới Tính
2   Lan    20        Nữ
3  Tuấn    21       Nam

Hai dòng đầu của danh sách
    Tên  Tuổi Giới Tính
0  Huy    20       Nam
1  Nhi    19        Nữ

Thông tin 3 dòng đầu là
     Tên  Tuổi Giới Tính
1   Nhi    19        Nữ
2   Lan    20        Nữ
3  Tuấn    21       Nam

# Câu 2

In [ ]:
Data = {"Tên":['Huy','Nhi','Lan','Tuấn'],
       "Tuổi":[20,19,20,21],
       "Giới Tính":['Nam','Nữ','Nữ','Nam']}
df = pd.DataFrame(Data)

# a) thông tin tổng quát
df.info()

# b) thông tin mô tả
print("\nThông tin thống kê danh sách:\n",df.describe())

In [24]:
# c) in danh sách nữ và nam

print("\nDanh sách nam:\n", df[df['Giới Tính']=='Nam'])

print("\nDanh sách nữ:\n", df[df['Giới Tính']== 'Nữ'])

# d) Danh sách tuổi dưới 20

print("\nDữ liệu có tuổi từ 20 đổ xuống:",df[df['Tuổi'] <= 20])

Danh sách nam:
     Tên  Tuổi Giới Tính
0   Huy    20       Nam
3  Tuấn    21       Nam

Danh sách nữ:
    Tên  Tuổi Giới Tính
1  Nhi    19        Nữ
2  Lan    20        Nữ

Dữ liệu có tuổi từ 20 đổ xuống:    Tên  Tuổi Giới Tính
0  Huy    20       Nam
1  Nhi    19        Nữ
2  Lan    20        Nữ

# Câu 3

In [31]:
# a) Đưa dữ liệu vào file và tạo dataframe
df = pd.read_csv("Lesson 9-3.txt",delim_whitespace=True )

print("DataFrame từ dữ liệu trên:\n",df)

df2 = df[(df['Calories']>400) | (df['Calories']<200)]

print("DataFrame theo điều kiện là:\n",df2)
print("Số dòng của dữ liệu mới này:",len(df2))

DataFrame từ dữ liệu trên:
     Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
DataFrame theo điều kiện là:
    Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
4        45    117       148     406.0
8        30    109       133     195.1
Số dòng của dữ liệu mới này: 4

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_9808\2933269592.py:2: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv("Lesson 9-3.txt",delim_whitespace=True )

In [ ]:
# b) Tạo df2 với điều kiện Calories > 400 hoặc Calories < 200
df2 = df[(df['Calories'] > 400) | (df['Calories'] < 200)]

print("\nDataFrame với Calories > 400 hoặc < 200:")
print(df2)
print(f"Số dòng của dữ liệu mới này: {len(df2)}")

DataFrame với Calories > 400 hoặc < 200:
   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
4        45    117       148     406.0
8        30    109       133     195.1
Số dòng của dữ liệu mới này: 4

In [34]:
# c) hiển thị dữ liệu có duration = 60

duration_60 = df[df['Duration'] == 60]

print(f"\nDữ liệu có Duration = 60:\n {duration_60}")

Dữ liệu có Duration = 60:
     Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
5         60    102       127     300.0
6         60    110       136     374.0
9         60     98       124     269.0
10        60    103       147     329.3

# Câu 4

In [45]:
A = {'name': ['Huy', 'Mạnh', 'Linh'],
	 'number': [22, 25, 20]}

df= pd.DataFrame(A)

print(f"\n Thông tin mô tả của dataframe là:\n {df.describe()}")

total = df['number'].sum()
mean = df['number'].mean()
min_value = df['number'].min()
max_value = df['number'].max()
variance = df['number'].var()
std_dev = df['number'].std()
print(f"\nThông tin mô tả của DataFrame là:\n" 
      f"Tổng: {total}\n"      
      f"Trung bình {mean}\n"     
      f"Nhỏ nhất {min_value}\n"      
      f"Lớn nhất {max_value}")

print(f"\nThông tin mô tả của DataFrame là:\nTổng: {total}\nTrung bình {mean:.3f}\nNhỏ nhất {min_value}\nLớn nhất {max_value}")

 Thông tin mô tả của dataframe là:
           number
count   3.000000
mean   22.333333
std     2.516611
min    20.000000
25%    21.000000
50%    22.000000
75%    23.500000
max    25.000000

Thông tin mô tả của DataFrame là:
Tổng: 67
Trung bình 22.333333333333332
Nhỏ nhất 20
Lớn nhất 25

Thông tin mô tả của DataFrame là:
Tổng: 67
Trung bình 22.333
Nhỏ nhất 20
Lớn nhất 25

# Câu 5

In [ ]:
# a) Đưa dữ liệu vào file CSV sau đó tạo dataframe cho tập dữ liệu đó
df = pd.read_csv('hoc_sinh.csv')
df.head

<bound method NDFrame.head of                Họ Tên Giới Tính Lớp  Điểm TB
0   Nguyễn Trung Kiên       Nam  7A      8.2
1        Lê Việt Dũng       Nam  8B      7.5
2     Dương Hồng Minh        Nữ  8C      6.9
3       Dương Hải Yến        Nữ  9B      8.1
4       Đào Tường Lam        Nữ  6B      6.8
5      Lương Tuấn Anh       Nam  8A      7.5
6       Đặng Văn Toàn       Nam  9A      8.3
7    Luyện Minh Hoàng       Nam  8C      6.4
8    Nguyễn Thu Hương        Nữ  7C      6.7
9         Lê Quốc Đại       Nam  6C      5.9
10  Nguyễn Thị Trà My        Nữ  8B      6.6
11        Vũ Thị Hồng        Nữ  6A      7.0>

In [48]:
# b) tạo dataframe và hiển thị danh sách học sinh kèm tổng số lượng học sinh
print("Danh sách học sinh\n",df)
print(f"Tổng số lượng học sinh là: {len(df)}")

Danh sách học sinh
                Họ Tên Giới Tính Lớp  Điểm TB
0   Nguyễn Trung Kiên       Nam  7A      8.2
1        Lê Việt Dũng       Nam  8B      7.5
2     Dương Hồng Minh        Nữ  8C      6.9
3       Dương Hải Yến        Nữ  9B      8.1
4       Đào Tường Lam        Nữ  6B      6.8
5      Lương Tuấn Anh       Nam  8A      7.5
6       Đặng Văn Toàn       Nam  9A      8.3
7    Luyện Minh Hoàng       Nam  8C      6.4
8    Nguyễn Thu Hương        Nữ  7C      6.7
9         Lê Quốc Đại       Nam  6C      5.9
10  Nguyễn Thị Trà My        Nữ  8B      6.6
11        Vũ Thị Hồng        Nữ  6A      7.0
Tổng số lượng học sinh là: 12

In [58]:
# c) Hiển thị lớp và tổng học sinh

df_lop = sorted(df['Lớp'].unique())
print(df_lop)

['6A', '6B', '6C', '7A', '7C', '8A', '8B', '8C', '9A', '9B']

In [62]:
# d) thông tin học sinh số 2,5,7,10,11

for index in [1,4,6,9,10]:
    print(f"\nThông tin học viên số {index+1} là:\n{df.iloc[index]}")

Thông tin học viên số 2 là:
Họ Tên       Lê Việt Dũng
Giới Tính             Nam
Lớp                    8B
Điểm TB               7.5
Name: 1, dtype: object

Thông tin học viên số 5 là:
Họ Tên       Đào Tường Lam
Giới Tính               Nữ
Lớp                     6B
Điểm TB                6.8
Name: 4, dtype: object

Thông tin học viên số 7 là:
Họ Tên       Đặng Văn Toàn
Giới Tính              Nam
Lớp                     9A
Điểm TB                8.3
Name: 6, dtype: object

Thông tin học viên số 10 là:
Họ Tên       Lê Quốc Đại
Giới Tính            Nam
Lớp                   6C
Điểm TB              5.9
Name: 9, dtype: object

Thông tin học viên số 11 là:
Họ Tên       Nguyễn Thị Trà My
Giới Tính                   Nữ
Lớp                         8B
Điểm TB                    6.6
Name: 10, dtype: object

In [64]:
# e) danh sách học sinh có điểm tb giảm dần
print("\nDanh sách học sinh có điểm trung bình giảm dần:")
print(df.sort_values(by='Điểm TB', ascending=False))

Danh sách học sinh có điểm trung bình giảm dần:
               Họ Tên Giới Tính Lớp  Điểm TB
6       Đặng Văn Toàn       Nam  9A      8.3
0   Nguyễn Trung Kiên       Nam  7A      8.2
3       Dương Hải Yến        Nữ  9B      8.1
1        Lê Việt Dũng       Nam  8B      7.5
5      Lương Tuấn Anh       Nam  8A      7.5
11        Vũ Thị Hồng        Nữ  6A      7.0
2     Dương Hồng Minh        Nữ  8C      6.9
4       Đào Tường Lam        Nữ  6B      6.8
8    Nguyễn Thu Hương        Nữ  7C      6.7
10  Nguyễn Thị Trà My        Nữ  8B      6.6
7    Luyện Minh Hoàng       Nam  8C      6.4
9         Lê Quốc Đại       Nam  6C      5.9

In [65]:
# f) Lấy ra 3 học sinh có điểm trung bình cao nhất
print("\n3 học sinh có điểm trung bình cao nhất:")
print(df.nlargest(3, 'Điểm TB'))

3 học sinh có điểm trung bình cao nhất:
              Họ Tên Giới Tính Lớp  Điểm TB
6      Đặng Văn Toàn       Nam  9A      8.3
0  Nguyễn Trung Kiên       Nam  7A      8.2
3      Dương Hải Yến        Nữ  9B      8.1